html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: rgb(152, 212, 201);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: rgb(201, 213, 213);
  border-radius: 15px;
  display: block;
  width: 287px;
  height: 470px;
  border: solid 2px black;
  margin-top: 80px;
}
#screen {
  background-color: rgba(167, 182, 182, 0.975);
  border-radius: 10px;
  width: 264px;
  height: 50px;
  margin: 5px 10px 0px 10px;
  font-size: 38px;
  text-align: right;
  color: #000;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.btns-row {
  margin: 3px auto;
  width: 276px;
}
#AC {
  background-color: #ffa500;
}
#noll {
  width: 135px;
}
.math-btn {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  font-size: 28px;
}
.btn-nav {
  margin-left: 10px;
  border-radius: 50%;
}
.calc {
  width: 10px;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent rgba(91, 50, 161, 0.475) transparent;
  margin: 10px;
}
